asgiref==3.6.0
asttokens==2.4.1
backcall==0.2.0
backports.zoneinfo==0.2.1
black==24.4.2
click==8.1.7
coverage==7.5.4
decorator==5.1.1
Django==4.2.13
django-environ==0.10.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
exceptiongroup==1.2.1
executing==2.0.1
iniconfig==2.0.0
ipython==8.12.3
jedi==0.19.1
matplotlib-inline==0.1.7
model-bakery==1.18.2
mypy-extensions==1.0.0
packaging==24.1
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==4.2.2
pluggy==1.5.0
prompt-toolkit==3.0.47
ptyprocess==0.7.0
pure-eval==0.2.2
pygments==2.18.0
PyJWT==2.6.0
pytest==8.2.2
pytz==2023.2
six==1.16.0
sqlparse==0.4.3
stack-data==0.6.3
tomli==2.0.1
traitlets==5.14.3
typing-extensions==4.5.0
wcwidth==0.2.13
